{% extends 'shop/item_manager/new_item_base.html' %}

{% load crispy_forms_tags %}

{% block script_content %}

<style>

    .digital_button{
        background-color: white;
        color: black;
    }
    
</style>

{% endblock %}



{% block item_content %}

<div class='container-fluid'>
    <div class='row mt-5'>
        <div class = 'col-5'>
            {% crispy form %}
            {% if is_edit %}
                <a href="{% url 'delete_item' item.id %}" class="btn btn-danger">Удалить</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}