{% extends "../base.html" %}

{% block route %}Пользователь > @{{ user.login }}{% endblock %} 

{% block header_nav %}
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'routes:stats' %}">Назад</a>
        </li>
    </ul>
{% endblock %} 

{% block content %}
    <div id="context" class="container">
        <h1 class="my-4">
            {% if user.platform == "TG" %}
                <img src="/media/logos/telegram.jpg" alt="Telegram" class="user-platform-mark">
            {% elif user.platform == "SLC" %}
                <img src="/media/logos/slack.jpg" alt="Slack" class="user-platform-mark">
            {% endif %}

            {{ user.full_name }} 
            
            {% if user.platform == "TG" %}
                <a href="https://t.me/{{ user.login }}" class="link" target=”_blank”>
                    @{{ user.login }}
                </a>
            {% else %}
                <span class="link">
                    @{{ user.login }}
                </span>
            {% endif %}
        </h1>

        <div class="card">
            <div class="card-body">
                
                <ul>
                    <li>Остаток баланса - <b>{{ balance.current_balance }} coins</b></li>
                    <li>Остаток сейфа - <b>{{ balance.safe_balance }} coins</b></li>
                </ul>
                
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Отправитель</th>
                    <th scope="col">Получатель</th>
                    <th scope="col">Кол-во</th>
                    <th scope="col">Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for transfer in pg_stats %}
                    <tr>
                        <td>
                            {% with user=transfer.u_from.user %}
                                {{ user.full_name }}
                                <span class="link">
                                    @{{ user.login }}
                                </span>
                            {% endwith %}
                        </td>
                        <td>
                            {% with user=transfer.u_to.user %}
                                {{ user.full_name }}
                                <span class="link">
                                    @{{ user.login }}
                                </span>
                            {% endwith %}
                        </td>
                        <td>{{ transfer.count }}</td>
                        <td>{{ transfer.transfer_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav aria-label="...">
            <ul class="pagination">
                
                {% for page in pg_stats.paginator.num_pages|paginator %}
                    {% if page == pg_stats.number %}
                        <li class="page-item disabled">
                            <a href="#" class="page-link">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="?p={{ page }}" class="page-link">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>

    </div>
{% endblock %} 
